/* Estilos del componente */
.clearfix{
    clear: both;
}
.form-wrap{
    width: 500px;
    /* margin: 0 auto; */
    position: relative;
    top: -60px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    float:left;
    margin: 25px;
}
.form-field-wrap{
    padding: 50px;
}
.full-width{
    width: 100%;
}
.form-wrap h4{
    padding: 10px;
    background: #D32F2F;
    color: #fff;
    text-align: center;
    font-size: 28px;
}
.task-list{
    list-style-type: none;
    padding-left: 0;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}
.mat-checkbox-checked{
    text-decoration:line-through
}
.app-button{
    background:blue;
    color: white;
    cursor: pointer;
}
.add-button{
    background:#28a745;
    color: white;
    cursor: pointer;
}
.edit-button{
    background:#dceb0b;
    color: white;
    cursor: pointer;
}
.cancel-button{
    background:#D32F2F;
    color: white;
    cursor: pointer;
}
.edit-icon{
    color: #dceb0b;
    cursor: pointer;
}
.delete-icon{
    color: #D32F2F;
    cursor: pointer;
}
.delete-selected{
    color: white;
    background: #D32F2F;
    cursor: pointer;
}
.task-added{
    margin-left: 15px;
}
.task-list li{
    margin-bottom: 5px;
}
  
.example-box {
    padding: 8px 10px;
    padding-bottom: 0;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    }

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
w-100{
    width: 100%;
}

/* Sidenav */
.example-container {
    position: absolute;
    top:8%;
    right: 5%;
    width: 600px;
    height: 108px;
    background-color: transparent;
}
 

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden !important;
    padding: 5px;
}

.example-sidenav {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.example-sidenav button{
    height: 32;
    width: 32;
}
.noScroll{
    overflow: hidden !important;
}