<div class="container">
  <div class="todos form-wrap">
    <!-- Titulo de la Lista -->
    <h4>Lista de tareas</h4>

      <div class="form-field-wrap">
        <!-- Acciones a realizar -->
            <!-- Seleccion de todos los registros -->
            <button mat-raised-button class="app-button m-2" (click)="selectAll()" [disabled]="storage.length === 0">
              <span>Seleccionar todas</span>
            </button>
            <!-- Boton para eliminar todas las tareas -->
            <button mat-raised-button class="delete-selected" [disabled]="deshabilitado" (click)="deleteSelectedTasks()">Eliminar seleccionadas</button>

        <!-- Añadir nueva tarea -->
        <div>
          <form (submit)="dataTask($event)">
            <div class="row">
              <div class="col-8">
                <mat-form-field  class="full-width">
                    <input [(ngModel)]="newTask" (keyup.enter)="newTask=''" class="textfield" name="newTask" matInput placeholder="Añadir nueva tarea">
                  </mat-form-field>
              </div>
              <div class="col-4">
                <button *ngIf="!editarTask" mat-raised-button  type="submit" class="add-button mt-2 btn-block" [disabled]="newTask===''">Añadir</button>
                <button *ngIf="editarTask" mat-raised-button  type="submit" class="edit-button mt-2 btn-block" [disabled]="newTask===''">Editar</button>
                <button *ngIf="editarTask" mat-raised-button  class="cancel-button mt-2 btn-block" [disabled]="newTask===''">Cancelar</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Listado de tareas creadas -->
        <ul cdkDropList (cdkDropListDropped)="drop($event)" class="task-list">
          <li class="example-box" cdkDrag *ngFor="let task of tasks; let i=index">
            <div class="row w-100">
              <div class="col-10">
                <mat-checkbox class="checkbox" [(ngModel)]="task.completed" (change)="comprobarSiAllSelected()"><span class="task-added" [ngClass]="{'checked': task.completed}">{{ task.newTask }}</span></mat-checkbox>
              </div>
              <div class="col-2 material-icons">
                <i (click)="editTask(task, i)" class="edit-icon">edit</i>
                <i (click)="deleteTask(i)" class="delete-icon">delete</i>
              </div>
            </div>
          </li> 
        </ul>
      </div>
  </div>
</div>