<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
  <button id="btnNuevaLista" mat-raised-button class="btn btn-outline-primary" *ngIf="!actUpdate" (click)="drawer.toggle() && showLista = false">Nueva lista</button>
  <button id="btnEditarLista" mat-raised-button class="btn btn-outline-danger" *ngIf="actUpdate" (click)="drawer.toggle(false) && actUpdate = false">Cancelar</button>
  <!-- Añadir nueva lista -->
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="noScroll">
        <div class="row">
          <div class="col-8">
            <mat-form-field  class="full-width">
                <input [(ngModel)]="nuevaLista" (keyup.enter)="nuevaLista=''" class="textfield" name="nuevaLista" matInput placeholder="Añadir nueva lista">
            </mat-form-field>
          </div>
          <div class="col-4">
            <button *ngIf="!actUpdate" mat-raised-button class="btn btn-outline-success mt-2 btn-block" [disabled]="nuevaLista ===''" (click)="createLista(nuevaLista, drawer)" >Confirmar</button>
            <button *ngIf="actUpdate" mat-raised-button class="btn btn-outline-warning mt-2 btn-block" [disabled]="nuevaLista ===''" (click)="updateLista(nuevaLista, oldLista, drawer)" >Modificar</button>
          </div>
        </div>
      </div>       
    </mat-drawer>
  </mat-drawer-container>      
</nav>

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> <strong>Listas</strong> </div>
    <div class="list-group list-group-flush" *ngFor="let lista of listas; index as ind">
      <button [id]="ind" (click)="datosLista( listas[ind].title, ind )" class="list-group-item list-group-item-action bg-light">{{listas[ind].title}}</button>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="todos form-wrap" *ngIf="showLista">
        <!-- Titulo de la Lista -->
        <h4> 
          {{tituloLista}} 
          <!-- Info de la aplicacion -->
          <button mat-icon-button [matMenuTriggerFor]="menu" class="list-opciones" aria-label="Example icon-button with a menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="datosListaEdicion(tituloLista, drawer)">
                <mat-icon>edit</mat-icon>
                <span><i><b>Editar lista</b></i></span>
              </button>          
              <button mat-menu-item (click)="deleteLista(tituloLista)">
                <mat-icon>delete</mat-icon>
                <span><i><b>Eliminar lista</b></i></span>
              </button>
            </mat-menu>
        </h4>

        <div class="form-field-wrap">
          <!-- Acciones a realizar -->
          <!-- Seleccion de todos los registros -->
          <button mat-raised-button class="app-button m-2" (click)="selectAll(tituloLista)" [disabled]="seleccionarTodas">
            <span>Seleccionar todas</span>
          </button>
          <!-- Boton para eliminar todas las tareas -->
          <button mat-raised-button class="delete-selected" (click)="deleteTareas(tituloLista)" [disabled]="eliminarSeleccionadas">Eliminar seleccionadas</button>

          <!-- Añadir nueva tarea -->
          <div>
            <div class="row">
              <div class="col-8">
                <mat-form-field  class="full-width">
                    <input type="text" value="{{nuevaTarea}}" (change)="valorInput($event)" (keyup.enter)="nuevaTarea=''" class="textfield" name="nuevaTarea" id="nuevaTarea" matInput placeholder="Añadir nueva tarea">
                  </mat-form-field>
              </div>
              <div class="col-4">
                <button *ngIf="!edicionTarea" mat-raised-button class="add-button mt-2 btn-block" (click)="createTarea(tituloLista)">Añadir</button>
                <button *ngIf="edicionTarea" mat-raised-button  class="edit-button mt-2 btn-block" (click)="updateTarea(tituloLista, oldTarea)">Editar</button>
                <button id="cancelButton" *ngIf="edicionTarea" mat-raised-button  type="button" class="cancel-button mt-2 btn-block" (click)="cancelTarea()">Cancelar</button>
              </div>
            </div>
          </div>

          <!-- Listado de tareas -->
          <ul cdkDropList (cdkDropListDropped)="dropTarea($event, tituloLista)" class="task-list">
            <li class="example-box" cdkDrag *ngFor="let tarea of tareas; let i=index">
              <div class="row w-100">
                <div class="col-10">
                  <mat-checkbox  class="checkbox" [(ngModel)]="tarea.completed" (change)="comprobarTareasSeleccionadas(tituloLista, i)">
                    <span class="task-added" [ngClass]="{'checked': tarea.completed}">{{ tarea.tarea }}</span>
                  </mat-checkbox>
                </div>
                <div class="col-2 material-icons">
                  <i (click)="datosTareaEdicion(tarea.tarea, i)" class="edit-icon">edit</i>
                  <i (click)="deleteTarea(i)" class="delete-icon">delete</i>
                </div>
              </div>
            </li> 
          </ul>
        </div>
      <div class="clearfix"></div>      
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->